@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;1,300&display=swap");

#root {
  padding: 0;
  margin: 0;
}

body {
  background-color: rgb(214, 154, 74);
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

h4 {
  text-align: center;
  margin-bottom: 20px;
}

/*Navbar Start*/
.navbar-brand {
  transition: all 0.5s ease 0s;
}

.navbar-brand:hover {
  color: goldenrod;
  transform: rotate(2deg);
}

.nav-link:hover {
  color: goldenrod;
  transform: rotate(2deg);
}

#navbarScroll .nav-link {
  margin-left: 20px;
}
/*Navbar End*/

/*Banner start*/
.home {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: left;
  flex-direction: column;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.headerContainer {
  width: auto;
  margin-left: 170px;
  color: goldenrod;
}

.text-food {
  color: white;
  font-size: 20px;
}
/*Banner End*/

/*responsive Banner start*/
@media only screen and (max-width: 600px) {
  .home {
    height: 82vh;
    justify-content: center;
    align-items: center;
  }
  .home .headerContainer {
    margin: 0;
    border-radius: 10px;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
  }
  .headerContainer h1 {
    font-size: 30px;
    height: 30px;
    margin: 20px 0px;
    color: goldenrod;
  }
  .text-food {
    font-size: 15px;
  }
}
/*responsive Banner end*/

/*card start*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-card {
  background-color: goldenrod;
  height: 280px;
  margin: 12px;
  margin-bottom: 15px;
}

.card-title {
  margin-top: 15px;
  font-size: 16px;
  font-weight: bold;
}
/* 
.card-container {
  display: flex;
  justify-content: center;
  margin-top: 20px;
} */
/*card End*/

/*modalCard*/
.custom-modal .modal-content {
  background-color: goldenrod;
  color: black;
}
/*modalCard*/

/*Login Start*/
.container-login {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 420px;
  width: 100%;
  background: white;
  border-radius: 15px;
  z-index: 1021;
  border: 1px solid black;
}

.container-login .close {
  position: absolute;
  top: 10px;
  right: 20px;
  color: black;
  font-size: 16px;
  cursor: pointer;
}

.container-login .registration {
  display: none;
}
#check:checked ~ .registration {
  display: block;
}
#check:checked ~ .login {
  display: none;
}
#check {
  display: none;
}
.container-login .form {
  padding: 2rem;
}
.header {
  color: black;
}
.form header {
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  margin-bottom: 1.5rem;
}
.form input {
  height: 45px;
  width: 100%;
  padding: 0 15px;
  font-size: 17px;
  margin-bottom: 1.3rem;
  border: 1px solid black;
  border-radius: 6px;
  outline: none;
}
.form input:focus {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2);
}
.form a {
  font-size: 16px;
  color: #009579;
  text-decoration: none;
}
.form a:hover {
  text-decoration: underline;
}
.form input .button {
  color: black;
  background: #009579;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin-top: 1.7rem;
  cursor: pointer;
  transition: 0.4s;
}
.signup {
  font-size: 17px;
  text-align: center;
  color: black;
}
.signup label {
  color: #009579;
  cursor: pointer;
}
.signup label:hover {
  text-decoration: underline;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.6);
}
/*Login End*/
